/* HEADER-NAVBAR----------------------------------------------*/
ul{
  list-style-type: none;
}
li{
  float: left;
  /* margin-top: 1%; */
  padding: 1.2%;
}
.float-right-li{
  float: right;
}
#navbar{
  background-color: #2c3e50;
  color: white;
  padding: 2% 0;
}
/* JUMBOTRON-----------------------------------*/
#jumbotron{
  margin-top: 7%;
  background-color: #1abc9c;
  padding-bottom: 5%;
}

#avatar{
  width: 20%;
  height: auto;
  margin-top: 8%;
}
/* SECTION PORTFOLIO-------------------------------------------------*/
.portfolio-img{
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-top: 8%;
}
/* SECTION-ABOUT------------------------------------------------*/
#about{
  background-color: #1abc9c;
  margin-top: 5%;
  padding: 3%;
  color: white;
}
.p-about{
  text-align: left;

}
.btn{
  margin-top: 2%;
}

/* CONTACT-ME-SECTION---------------------------------------------*/
#footer{
  background-color: #2c3e50;
  color: white;
  padding: 5%;
  margin-top: 1%;
}
#copy{
  background-color: #1a252f;
  color: white;
  padding: 2%;
}
/* MEDIA-QUERY------------------------------------------------*/
@media screen and (max-width: 768px){
  #start-boot{
    display: none;
  }
  .float-right-li{
    float: left;
  }
  #jumbotron{
    margin-top: 14%;
  }
  li{
    padding: 1.9%;
  }

}
